* @teamupstart/servicing-core-platform

# SQL Review for migrations
app/src/main/resources/db/migration/** @teamupstart/sql-review @upst-sa-delivery-squad-borg-admin
*.sql @teamupstart/sql-review @upst-sa-delivery-squad-borg-admin

# Infosec for CODEOWNERS file changes
CODEOWNERS              @teamupstart/infosec

# Third party dependency checks
Gemfile                 @teamupstart/infosec
Gemfile.lock            @teamupstart/infosec
yarn.lock               @teamupstart/infosec
package.json            @teamupstart/infosec
requirements.in         @teamupstart/infosec
requirements.txt        @teamupstart/infosec
Pipfile                 @teamupstart/infosec
Pipfile.lock            @teamupstart/infosec
poetry.lock             @teamupstart/infosec
versions.properties     @teamupstart/infosec
**/.yarn/cache/**       @teamupstart/infosec

# SAST/SCA ignore and config
.snyk                   @teamupstart/infosec
snyk-ignore.json        @teamupstart/infosec